{% extends 'base.html' %}

{% block title %}Sobre{% endblock %}

{% block content %}
<main>
    <section>
        <h1>Sobre Nós</h1>
        <p>Olá! Eu sou <strong>Ana Paula Lourenço</strong>, Desenvolvedora FullStack e estudante de graduação em
            <strong>Análise e Desenvolvimento de Sistemas</strong> na PUCPR. O site <strong>TutosDev - Tutoriais para
                Iniciantes</strong> é um projeto muito especial para mim, desenvolvido como parte da minha participação
            no
            projeto de extensão <strong>Escola de Inverno para Meninas</strong>.</p>

        <p>Esse projeto é uma iniciativa gratuita que visa ensinar <strong>HTML, CSS, JavaScript, Python e
                Django</strong>
            para meninas do ensino médio, promovendo o acesso à tecnologia e à programação de uma forma prática e
            envolvente. A Escola de Inverno para Meninas foi criada pelo <strong>Grupo de Alunas de Ciências Exatas
                (GRACE)</strong> do <strong>Instituto de Ciências Matemáticas e de Computação (ICMC)</strong> da
            <strong>USP</strong>, em São Carlos.</p>

        <p>Fui selecionada como voluntária para ser uma das monitoras das alunas, e como parte do processo de seleção,
            desenvolvi este projeto autoral. A proposta foi criar um recurso didático acessível e prático para que as
            alunas
            possam aprender e aplicar conceitos fundamentais da programação e do desenvolvimento web.</p>

        <p>Neste site, você encontrará tutoriais detalhados sobre diversas tecnologias e práticas de desenvolvimento,
            todos
            criados com o objetivo de proporcionar uma aprendizagem eficiente e agradável. Minha intenção é oferecer um
            material que seja útil tanto para iniciantes quanto para aqueles que buscam revisar conceitos essenciais.
        </p>

        <p>Espero que o <strong>TutosDev</strong> seja uma ferramenta valiosa para você e que inspire muitas outras
            meninas
            e jovens a explorar o mundo da tecnologia e da programação. Se você tiver alguma dúvida ou feedback, não
            hesite
            em entrar em contato!</p>

        <p>Com carinho,<br><em>Ana Paula Lourenço</em></p>
    </section>
</main>
{% endblock %}