{% extends 'base.html' %}

{% block title %}Contato{% endblock %}

{% block content %}
<main>
    <section>
        <h1>Contato</h1>
        <p>Se você deseja entrar em contato comigo, aqui estão as maneiras mais fáceis de me encontrar:</p>

        <ul class="listas-tutoriais">
            <li><strong>E-mail:</strong> Você pode me enviar um e-mail para <a
                    href="mailto:aanaplourenco@gmail.com">aanaplourenco@gmail.com</a> ou <a
                    href="mailto:annasouzaterapias@gmail.com">annasouzaterapias@gmail.com</a>.</li>
            <li><strong>WhatsApp:</strong> Envie uma mensagem para o meu WhatsApp no número <a
                    href="https://wa.me/5541998739318">41 99873-9318</a>.</li>
            <li><strong>Instagram:</strong> Acompanhe-me no Instagram: <a
                    href="https://www.instagram.com/aanaplourenco/" target="_blank">@aanaplourenco</a>.</li>
            <li><strong>LinkedIn:</strong> Conecte-se comigo no LinkedIn: <a
                    href="https://www.linkedin.com/in/aanaplourenco/" target="_blank">Ana Paula Lourenço</a>.</li>
        </ul>
    </section>
</main>
{% endblock %}